#mainlevel {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mainlevel UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mainlevel A {
	DISPLAY: block
}
#mainlevel LI {
	FLOAT: left; POSITION: relative
}
#mainlevel LI UL {
	z-index:10; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; DISPLAY: block; FILTER: alpha(opacity=100); LEFT: -999em; MARGIN-LEFT: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 130px; BORDER-BOTTOM: #000000 1px solid; LIST-STYLE-TYPE: none; POSITION: absolute; BACKGROUND-COLOR: #ffffff; opacity: 1
}
#mainlevel LI:hover UL {
	LEFT: auto
}
#mainlevel LI.sfhover UL {
	LEFT: auto
}
A.sublevel {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; width:110px
}

