<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <meta name="author" content="Peter Becker, Andreas Bruchmann, Dirk F.Raetzel">
   <meta name="keywords" content="C++, Kurs, Vorlesung, Online, Lehrbuch, C, Skript, Tutorial, Einf&uuml;hrung, Anleitung, Programmiersprache, Programmieren, Anf&auml;nger, Einsteiger, Umsteiger, &Uuml;bung"> 
   <meta name="description" content="Ein Onlinekurs in C++ f&uuml;r Menschen mit Programmiererfahrung. Der Kurs stellt in knapper Sprache aber umfangreich die Programmiersprache C++ vor."> 
   <meta name="allow-search" content="yes"> 
   <meta name="searchtitle" content="C++ - Online-Lehrbuch des FB Mathe/Info der Uni Marburg (Online-Kurs)"> 
   <meta name="robots" content="index,follow"> 
   <meta name="revisit-after" content="14 days"> 
    <title>Online-C++-Kurs    </title>

   <script language="Javascript">
   <!--
    function goToPreviousPage()
    {
	// alert("Dies ist die erste Seite des Kapitels!");
        window.document.location.href = "array03.html";
    }
    function goToNextPage()
    {
	// alert("Dies ist die letzte Seite des Kapitels!");
        window.document.location.href = "struct01.html";
    }
   //-->
   </script>
  </head>
<body TEXT="#000000" BGCOLOR="#FFDD9D" LINK="#000000" VLINK="#000000" ALINK="#804040">


<h2>Arrays (4/4)</h2>
<p>
Mehrdimensionale Arrays werden initialisiert, indem jede Dimension f&uuml;r sich
geklammert wird, und die einzelnen Eintr&auml;ge der Dimensionen durch 
Kommata getrennt werden. Dies ist etwas knifflig:
<p>
<pre>
  int a[2][3][4] = { {{   0,  1,  2,  3 },{ 10, 11, 12, 13}, { 20, 21, 22, 23}}, 
                     {{ 100,101,102,103}, {110,111,112,113}, {120,121,122,123}} };
</pre>
<p>
Auch hier kann die Dimensionsangabe wegfallen, <strong>allerdings nur bei 
der letzten Dimension</strong>.
<p>
Ferner ist es m&ouml;glich einzelne Klammerpaare wegzulassen, der Compiler wei&szlig;t
die Komponenten in ihrer nat&uuml;rlichen Reihenfolge zu. So k&ouml;nnen auch alle
Klammern weggelassen werden.
<p>
<pre>
  int b[2][3][4] = {0,01,02,03,10,11,12,13,20,21,22,23,100,101,102,103,110,111,
                    112,113,120,121,122,123};
  // oder auch ganz obskur
  int b[2][3][4] = {{{0,01,02,03},10,11,12,13,{20,21,22,23}},
                    100,101,102,103,{110,111,112,113},120,121,122,123};
</pre>
<p>
Empfehlenswert ist eine komplette Klammerung durchzuf&uuml;hren um den &Uuml;berblick
nicht zu verlieren. Alternativ ist nur noch das Weglassen aller inneren Klammern
angebracht. Alle anderen Varianten sind zu un&uuml;bersichtlich.
</body>
</html>
