<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <meta name="author" content="Peter Becker, Andreas Bruchmann, Dirk F.Raetzel">
   <meta name="keywords" content="C++, Kurs, Vorlesung, Online, Lehrbuch, C, Skript, Tutorial, Einf&uuml;hrung, Anleitung, Programmiersprache, Programmieren, Anf&auml;nger, Einsteiger, Umsteiger, &Uuml;bung"> 
   <meta name="description" content="Ein Onlinekurs in C++ f&uuml;r Menschen mit Programmiererfahrung. Der Kurs stellt in knapper Sprache aber umfangreich die Programmiersprache C++ vor."> 
   <meta name="allow-search" content="yes"> 
   <meta name="searchtitle" content="C++ - Online-Lehrbuch des FB Mathe/Info der Uni Marburg (Online-Kurs)"> 
   <meta name="robots" content="index,follow"> 
   <meta name="revisit-after" content="14 days"> 
   <title>Online-C++-Kurs    &Uuml;bersicht Kapitel OOP in C++</title>
<script language="Javascript">
   <!--
   function goToPreviousPage()
    {
	window.document.location.href = "ausgabe_6.html";
    }
   function goToNextPage()
    {
	window.document.location.href = "eingabe_2.html"; 
    }
   //-->
   </script>
</head>
<body TEXT="#000000" BGCOLOR="#FFDD9D" LINK="#000000" VLINK="#000000" ALINK="#804040">

<H2>Eingabe: Einf&uuml;hrung (1/3)</H2>
F&uuml;r die Eingabe steht der zum Ausgabeoperator genau entgegengerichtete 
Operator <CODE>&gt;&gt;</CODE>
zur Verf&uuml;gung, der ein &auml;hnlich einfaches und elegantes Einlesen 
erm&ouml;glicht:
<P>
<CODE>
&nbsp;&nbsp;#include &lt;iostream.h&gt;
<P>
&nbsp;&nbsp;main()
<BR>&nbsp;&nbsp;{
<BR>&nbsp;&nbsp;&nbsp;&nbsp;int int_wert;
<BR>&nbsp;&nbsp;&nbsp;&nbsp;double double_wert;
<P>
&nbsp;&nbsp;&nbsp;&nbsp;cout &lt;&lt; " Bitte geben Sie einen Integer und einen Double-Wert 
ein: " &lt;&lt; endl;
<BR>
&nbsp;&nbsp;&nbsp;&nbsp;cin >> int_wert >> double_wert;&nbsp;&nbsp;&nbsp; // Einlesen
der Werte
<P>
&nbsp;&nbsp;&nbsp;&nbsp;cout &lt;&lt; "Es wurden die Werte ( " &lt;&lt; int_wert
&lt;&lt; ", " 
<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&lt;&lt; double_wert &lt;&lt; ") eingegeben." &lt;&lt; endl;
<P>&nbsp;&nbsp;&nbsp;&nbsp;return 0;
<BR>&nbsp;&nbsp;}
</CODE>
<P>
In dem Beispiel wird der Benutzer zur Eingabe zweier Werte aufgefordert, wobei die
Werte verschiedenen Typs sein sollen. Die Eingabe an sich erfolgt &uuml;ber die
Zeile
<P>
<CODE>
&nbsp;&nbsp;cin >> int_wert >> double_wert;&nbsp;&nbsp;&nbsp; // Einlesen
der Werte
</CODE>
    
</body>
</html>
