pre.aw {border:outset medium silver;width:100%;white-space:pre;font-family:monospace;background-color:lightblue;}
pre.source {border:outset medium silver;width:100%;white-space:pre;font-family:monospace;background-color:lightblue;}
pre.template {border:outset medium silver;width:100%;white-space:pre;font-family:monospace;background-color:lightblue;}
pre.terminal {border:outset medium silver;width:100%;white-space:pre;font-family:monospace;
              background-color:black;color:lightgreen}
pre.file {border:outset medium silver;width:100%;white-space:pre;font-family:monospace;background-color:lightgray;}
H2.yellow {border:none;background-color:lightyellow;width:100%;text-align:center;}

